**/.DS_Store
affinity_matrix.**
random_izmir_points.csv
izmir_network_nodes.csv
community_data.csv
**.bmp
transportation_cost_analysis.csv
**_community_data.csv
generated_points.csv
output/
csv_files/
**/cost_analysis/** 
venv/
graph_2000_complete_backup.json
graph_2000_complete.json